<!doctype html>
<html lang="<%- site.lang || ' en' -%>">
  <%- include( '/../includes/head' ) -%>
  <body>
    <%- include( '/../includes/header' ) -%>
    <main aria-label="Content" class="site-content"><%- content %></main>
    <%- include( '/../includes/footer' ) -%>
  </body>
</html>
